* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';



header{
    @import "./partials/header";
}

main{
    @import './partials/mainComics';
    }

footer{
    @import './partials/footer';
}
